#background {
    width: 650px;
    height: 600px;
    margin: 0 auto;
    background: url(https://githubrepobucket1-1258277786.cos.ap-shanghai.myqcloud.com/luckyRotaryTable/turntable-bg.jpg) no-repeat;
    position: relative;
}

#pointer {
    position: absolute;
    z-index: 10;
    top: 155px;
    left: 247px;
}

#turntable {
    position: absolute;
    z-index: 5;
    top: 60px;
    left: 116px;
    /* transition: property duration timing-function delay; */
    /* 实现转盘旋转random角度的过渡设置 */
    transition: all 4s; 
    -moz-transition: all 4s;
    -webkit-transition: all 4s;
    -o-transition: all 4s;
}

#displayInfo {
    width: 300px;
    height: 100px;
    border: 2px solid pink;
    margin: 30px auto;
}