<!-- 404页面模板视图设计 -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= blog.title %></title>
    <!-- 为了演示 express 中处理 404 的情况，用了腾讯公益的 404 页面 -->
    <script type="text/javascript" src="http://www.qq.com/404/search_children.js" charset="utf-8"></script>
  </head>
  <body></body>
</html>
