        <!-- <script></script> 是 semantic-ui 操控页面控件的代码 -->
        <script type="text/javascript">
            $(document).ready(function() {
                // 点击按钮弹出下拉框
                $('.ui.dropdown').dropdown();

                // 鼠标悬浮在头像上时弹出气泡提示框
                $('.post-content .avatar-link').popup({
                    inline: true,
                    position: 'bottom right',
                    lastResort: 'bottom right'
                });
            });
        </script>
    </body>
</html>